@keyframes shake {
  from { rotate: -2deg; }
  to { rotate: 2deg; }
}

@keyframes light {
  0% {
    translate: 0 -15px;
    filter: drop-shadow(0 5px 10px black) drop-shadow(0 5px 60px white);
  }
  25% {
    translate: 15px 0;
    filter: drop-shadow(5px 0 10px black) drop-shadow(5px 0 60px white);
  }
  50% {
    translate: -15px 0;
    filter: drop-shadow(-5px 0 10px black) drop-shadow(-5px 0 60px white);
  }
  100% {
    translate: 0 15px;
    filter: drop-shadow(0 -5px 10px black) drop-shadow(0 -5px 60px white);
  }
}

@property --outcome-color {
  syntax: '<color>';
  initial-value: white;
  inherits: false;
}

@property --gradient-percent {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: false;
}

* {
  padding: 0;
  margin: 0;
}



body {
  position: relative;
  transition: --outcome-color 500ms;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
  background-image: linear-gradient(var(--outcome-color) -50%,  black 50%);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow:hidden;
  user-select: none;
  mix-blend-mode: multiply;
  background-color: gray;

}

.player-winner {
  --outcome-color: blue;
}

.computer-winner {
  --outcome-color: red;
}

.tie {
  --outcome-color: white;
}

.section {
  display: flex;
}

.output {
  position: relative;
  background-image: linear-gradient(rgb(255, 0, 0) 0%, rgb(255, 255, 255) 20%, rgb(0, 0, 255) 60%);
  background-attachment: fixed;
  color: transparent;
  mix-blend-mode: screen;
  background-clip: text;
  font-weight: 900;
  background-color: gray;
  text-transform: uppercase;
  filter: drop-shadow(0 -5px 5px rgba(0, 0, 0, 0.485));
}

.score {
  font-size: 8vh;
}

.output {
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 5vh;
  text-align: center;
}

.human,
.output { 
  flex: 2;
}

.human {
  display: flex;
  justify-content: center;
  align-items: stretch;
  transition: all 200ms;

}

.computer {
  display: flex;
  justify-content: center;
}


.input {
  flex: 1; 
  
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 200ms;
  filter: drop-shadow(5px 0 30px black);

}

.human:hover {
  cursor: grab;
}

.icon {
  transition: translate 200ms, scale 200ms, filter 500ms;

  font-size: 15vh;
  user-select: none;
  mix-blend-mode: screen;
}

.human:hover .icon {

  color: rgba(255, 255, 255, 0.5);
  translate: 0 25vh;
  scale: 0.5;
}

.input:hover .icon {
  scale: 1.2;  
  rotate: -2deg;
  translate: 0 15px;
  filter: drop-shadow(0 -5px 10px black) drop-shadow(0 -5px 60px white);

  color: white;
  animation-name: shake, light;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-direction: alternate, alternate-reverse;
  animation-duration: 5s, 10s;
  animation-fill-mode: forwards, forwards;
  animation-delay: 2s;
}

.input:active .icon {
  scale: 1.15;
}
